/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
public/web.config
resources/assets/sass/app.scss
resources/lang/en/auth.php
resources/lang/en/pagination.php
resources/lang/en/passwords.php
resources/lang/en/validation.php
server.php
storage/app/.gitignore
storage/framework/.gitignore
storage/framework/cache/.gitignore
storage/framework/sessions/.gitignore
storage/framework/views/.gitignore
storage/logs/.gitignore
tests/ExampleTest.php
tests/TestCase.php
./vender
./storage
./.*
